@inject stateService.TodosManager Todos;
<div>@Todos.getValue().Count </div>
<div class="w-100 d-grid justify-content-around gap-2 " style="grid-template-columns: 30% 30% 30%; ">




 



    @foreach (var todo in Todos.getValue())
    {
        <TodoCard title=@todo.GetTitle() discription=@todo.GetDiscription()
              todoId=@todo.GetId()></TodoCard>
    }

</div>


@code {



    protected override void OnInitialized()
    {
        Todos.OnStateChange += StateHasChanged;

    }


}