@inject stateService.TodosManager Todos;
@inject stateService.InputStateManagment InputsHandler ;


<ul class="rounded list-unstyled px-3 py-1" style="background: @bgColor;background: -moz-linear-gradient(90deg, @bgColor 35%, rgba(102,102,102,1) 100%);background: -webkit-linear-gradient(90deg, @bgColor 35%, rgba(102,102,102,1) 100%);background: linear-gradient(90deg, @bgColor 35%, rgba(102,102,102,1) 100%);">
    <li class="text-white border-bottom border-dark py-2">title : @title</li>
    <li class="text-white border-bottom border-dark py-2">discription :  @discription</li>
    <li class="text-white border-bottom border-dark py-2">id :  @todoId.ToString()</li>
    <li class="text-white py-2">
        <button class="btn btn-primary rounded text-white px-3 py-1 w-100" @onclick="()=> {handleEditBtn(todoId);}">edit</button>
    </li>
</ul>

@code {
        [Parameter]
        public string title { get; set; }

        [Parameter]
        public string discription { get; set; }
        [Parameter]
        public long todoId { get; set; }
        [Parameter]
        public string bgColor { get; set; } 


        private void handleEditBtn(long id)
        {
            var findedTodo = Todos.getValue().Find(x => x.GetId() == id);

            //Console.WriteLine("title is :{0} and discription is : {1} and the id is : {2}", findedTodo.GetTitle(), findedTodo.GetDiscription(), findedTodo.GetId());

            Dictionary<string, string> CorrentValues = InputsHandler.GetValue();

            CorrentValues["title"] = findedTodo.GetTitle();
            CorrentValues["discription"] = findedTodo.GetDiscription();
            CorrentValues["inEditMode"] = Boolean.TrueString;
            CorrentValues["editId"] = findedTodo.GetId().ToString();



            InputsHandler.setValue(CorrentValues);
        }



      }